* {
  margin: 0;
  padding: 0;
}

h1 {
  position: absolute;
  top: 10%;
  left: 6%;
}

.container {
  max-width: 90%;
  height: 50%;
  line-height: 50px;
  position: absolute;
  top: 20%;
  left: 5%;
}

.table {
  text-align: center;
}

#btnAdd {
  position: absolute;
  left: 84%;
  top: 15%;
  width: 10%;
}

#addModal {
  margin: 0;
  padding: 0;
  position: absolute;
}

#modalAdd {
  background-color: green;
  color: white;
}

.tableHead {
  background-color: rgb(161, 161, 161);
}

#modalExclude {
  background-color: rgb(180, 29, 29);
  color: white;
}

#modalEdit {
  background-color: rgb(21, 174, 185);
  color: white;
}

#modalDetails {
  background-color: rgb(233, 194, 22);
  color: white;
}


